/* #contactPage {
    width: 80%;
} */

#bio {
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    font-weight: 400;
}

#headshot {
    float: left;
    width: 350px;
    height: 350px;
    margin-right: 30px;
}

br {
    content: "";
  margin: 3em;
  display: block;
  font-size: 24%;
}

#testimonials {
    display: flex;
    flex-direction: row;
}

p {
    font-size: 20px;
}

.testimonial {
    /* margin: 0 20px; */
    line-height: 1.6;
}

#middle {
    margin: 0 40px;
}