#aboutPage {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#bio {
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    font-weight: 400;
}

#headshot {
    float: left;
    width: 350px;
    height: 350px;
    margin-right: 30px;
    box-shadow: 0 0 30px rgb(116, 116, 116, 0.5);
}

br {
    content: "";
  margin: 3em;
  display: block;
  font-size: 24%;
}

h3 {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

#testimonials {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

p {
    font-size: 17px;
}

#resume {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

#resumelink {
    text-decoration: none;
}

.testimonial {
    /* margin: 0 20px; */
    line-height: 1.8;
    width: 50%;
}

#left {
    margin-right: 40px;
}

#right {
    margin-left: 40px
}

#middle {
    margin: 0 40px;
}

@media screen and (max-width: 1500px) {
    #aboutPage {
        margin-bottom: 30px;
    }
    #testimonials {
        flex-direction: column;
    }
    .testimonial {
        width: 100%;
    }

    #middle {
        margin: 0 0;
    }
}

@media screen and (max-width: 768px) {
    #aboutPage {
        width: 90%;
    }
    #aboutSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #headshot {
        width: 80%;
        height: 80%;
    }

    #bio {
        width: 80%;
    }

    #headshot {
        margin-right: 0px;
    }

    #testimonials {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    
}