#contact {
    width: 100%;
}

#contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contactHeader {
    font-size: 25px;
}

.formLabel {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

input {
    font-size: 20px;
}

textarea {
    font-size: 20px;
}

#email {
    height: 30px;
}

#message {
    height: 100px;
}

#submitBtn {
    margin-top: 15px;
    width: 84px;
    height: 38px;
    font-size: 20px;
    border-radius: 5px;
}

#submitBtn:hover {
    cursor: pointer;
}