#logo {
    transform: rotate(-20deg);
    width: 200px;
    height: 75px;
    margin-top: 50px;
}

#logo:hover {
    opacity: 0.5;
}

#navigation {
    display: inline-block;
    margin-left: 40px;
}

#navbar {
    margin-top: 80px;
}

#links {
    display: flex;
    flex-direction: column;
}

.links {
    
    text-decoration: none;
    color: black;
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 200;
    opacity: 0.5;
}

.links:hover {
    opacity: 1;
    cursor: pointer;
}

#linkimg {
    display: flex;
    flex-direction: column;
}

.linkimg {
    width: 40px;
    margin-bottom: 25px;
    opacity: 0.5;
}

.linkimg:hover {
    opacity: 1;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    
}