.themeIcon {
    width: 40px;
    opacity: 0.5;
    position: absolute;
}

.themeIcon:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .themeIcon {
        position: relative;
        bottom: 0px;
        opacity: 1;
    }

    #togglediv {
        display: flex;
        justify-content: center;
    }
}