.page {
    display: flex;
    flex-direction: row;
}

#heading {
    position: absolute;
    margin-top: 45px;
    right: 40px;
}

.pageContent {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 45px;
    /* width: 80%; */
    /* padding-top: 80px; */
}

@media screen and (max-width: 768px) {
    .page {
        flex-direction: column;
    }
    .pageContent {
        margin-top: 90px;
        width: 100%;
    }
}